.producto{
    margin-bottom:5%;
}

.img{
    width: 30%;
}

.items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    margin: 4%;
}
.bntInf{
    margin-top: -100;
    font-style: none;
}

.bntInf:hover{
    font-style: none;
    color: grey;
}