.navBar{
    background-color: #2e6954;
}
.navBar ul li {
    display: inline-flex;
    padding: 15px;
    margin: 5px;
}
Collapse{
    color: black;
    text-decoration: none;
}
Collapse:hover{
    color:white;
    text-decoration: none;
}
.nameBrand{
    margin-top: 0%;
    font-size: 200%;
}