.Contador-container { 
    display: flex;
    margin-top: -20%;
    margin-bottom: -10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    height: 200px;
}

.Buttons-container { 
    display: inline-flex;
    justify-items: space-between;
}
